@charset "UTF-8";
.row, .row-full {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .row:after, .row-full:after {
    content: "";
    display: block;
    clear: both; }

.row {
  max-width: 1196px; }

.row-full {
  max-width: 100%; }

.column {
  display: block;
  float: left;
  margin-right: 1.33779%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .column.one {
    width: 7.10702%; }
  .column.two {
    width: 15.55184%; }
  .column.three {
    width: 23.99666%; }
  .column.four {
    width: 32.44147%; }
  .column.five {
    width: 40.88629%; }
  .column.six {
    width: 49.3311%; }
  .column.seven {
    width: 57.77592%; }
  .column.eight {
    width: 66.22074%; }
  .column.nine {
    width: 74.66555%; }
  .column.ten {
    width: 83.11037%; }
  .column.eleven {
    width: 91.55518%; }
  .column.twelve {
    width: 100%; }
  .column:last-of-type, .column.last, .column.twelve {
    margin-right: 0; }
  .column img,
  .column object,
  .column embed {
    max-width: 100%;
    height: auto; }

.offset.by-one {
  margin-left: 8.44482%; }
.offset.by-two {
  margin-left: 16.88963%; }
.offset.by-three {
  margin-left: 25.33445%; }
.offset.by-four {
  margin-left: 33.77926%; }
.offset.by-five {
  margin-left: 42.22408%; }
.offset.by-six {
  margin-left: 50.6689%; }
.offset.by-seven {
  margin-left: 59.11371%; }
.offset.by-eight {
  margin-left: 67.55853%; }
.offset.by-nine {
  margin-left: 76.00334%; }
.offset.by-ten {
  margin-left: 84.44816%; }
.offset.by-eleven {
  margin-left: 92.89298%; }

.no-mobile {
  display: block; }

.mobile-only {
  display: none; }

@media screen and (max-width: 640px) {
  .column {
    margin: 1px 0; }
    .column.one, .column.two, .column.three, .column.four, .column.five, .column.six, .column.seven, .column.eight, .column.nine, .column.ten, .column.eleven, .column.twelve {
      width: 100%; }
    .column.offset {
      margin-left: 0; }

  .no-mobile {
    display: none; }

  .mobile-only {
    display: block; } }
